{% extends 'base.html.twig' %}

{% block title %}Hello VoitureController!{% endblock %}

{% block body %}
    <form>
        {{ form_start(form) }}
            {{ form_row(form.submitFile) }}
        <button type="submit">Envoyer</button>
        {{ form_end(form) }}

    </form>
{% endblock %}
